<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>917654534396-hst84rfjvark8skguc4n9ilsaq3tnlic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917654534396-hst84rfjvark8skguc4n9ilsaq3tnlic</string>
	<key>API_KEY</key>
	<string>AIzaSyBRH6FYoFDaMk5DjhtVSVpbQRJ8SN3EbKc</string>
	<key>GCM_SENDER_ID</key>
	<string>917654534396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usabilla.dashboard.UsabillaDashboard</string>
	<key>PROJECT_ID</key>
	<string>myusabilla</string>
	<key>STORAGE_BUCKET</key>
	<string>myusabilla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:917654534396:ios:5b972b9f10ddb163</string>
	<key>DATABASE_URL</key>
	<string>https://myusabilla.firebaseio.com</string>
</dict>
</plist>